
.onlythis{
    background-color: rgb(192, 141, 194);
    color: wheat;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    width: 300px;
    margin:10px;
    padding:10px;
    margin-top:20px;
 }

 